# Windows
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.suo
*.filters
*.sdf
*.opensdf
*.opendb
*.tmc
*.idb
*.pdb
ipch/
*.aps
*.nlog
*.log
*.pch
*.ilk
*.exp
*.obj
*.lib
*.tlog
*.lastbuildstate
*.manifest
*.res
*.cache
*.bin
*.ilk
*.exe
*.dll
*.ipdb
debug/
release/
x64/
Debug/
Release/
CMakeFiles/
CMakeCache.txt
build/
install/
.vs/
out/
CMakePresets.json